{% extends "base.html" %}

{% block pageName %}Log In{% endblock %}

{% block headContent %}
	<link rel = "stylesheet" type = "text/css" href = "/static/styles/style.css">

	<script>
		var returnURL = {{ returnURL|tojson }};
	</script>

	<script
		src="https://unpkg.com/@simplewebauthn/browser@9.0.1/dist/bundle/index.umd.min.js"
		integrity="sha384-9+Bm5pUMP2324xMjhRahdomA9HaTxP6JcMhbl3tUAcV2+Jiohq8/T+dGj/rx/MaM"
		crossorigin="anonymous">
	</script>
	<script src = "/static/js/login.js"></script>
{% endblock %}


{% block content %}
<!--
<h1>Log In or Register through Google</h1>
<p>Note: need to register this login.</p>

<form id = "googleForm">
	<div id = "googleWrapper"><div class = "g-signin2" data-onsuccess = "onSignIn"></div></div>
	<label for = "googleRememberMe">Remember me</label>
	<input name = "googleRememberMe" id = "googleRememberMe" type = "checkbox">
</form>
</p>

<hr>
<p>Testing:</p>-->
<p id = "loginOutput"></p>
<span id = "returnURL"></span>

<h2>Existing Users</h2>
<p>
	<ul>
		{% for email in allEmails %}
			<li>{{ email }}</li>
		{% endfor %}
	</ul>
</p>

<h2>Log In</h2>
<form id = "loginForm">
	<label for = "emailLogin">Email</label>
	<input name = "emailLogin" id = "emailLogin" type = "text">

	<br>

	<label for = "loginRememberMe">Remember me</label>
	<input name = "loginRememberMe" id = "loginRememberMe" type = "checkbox">

	<br><br>

	<input name = "submitLogin" id = "submitLogin" type = "submit" value = "Log In">
</form>

<h2>Register</h2>
<form id="registrationForm">
	<label for = "emailRegister">Email</label>
	<input name = "emailRegister" id = "emailRegister" type = "text">

	<br>

	<label for = "registerRememberMe">Remember me</label>
	<input name = "registerRememberMe" id = "registerRememberMe" type = "checkbox">
	
	<br><br>

	<input name = "submitRegister" id = "submitRegister" type = "submit" value = "Register">
{% endblock %}