.hideableTitle{
	border: 1px solid #0E1B45;
	/*padding: 5px;*/
	border-radius: 5px 5px 0px 0px;
	background-color: #ededed;

	overflow: auto;

	display: flex;
}

.subtleButton{
	background: transparent;
	border: none;
	font: inherit;
	color: inherit;
	font-style: inherit;
	font-size: 16px;
}


.titleLeft{
	/*float: left;*/
	font-weight: bold;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.titleLeft.subtleButton {
	flex-grow: 1;
	text-align: left;
	padding: 5px;
}


.titleRight{
	float:right;
	color: #555;
	padding: 5px;
	font-size: small;
}

.hideableDiv{
	border: 1px solid #0E1B45;
	border-bottom: 0px;
	border-top: 0px;
	padding: 5px 15px;
}

.componentData {
	padding: 5px;
}

.hideableBottom{
	border: 1px solid #0E1B45;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	height: 5px;
	margin-bottom: 5px;
}

/* other */
p {
	word-wrap: break-word;
}

span.emphasized {
	font-weight: bold;
}

hr {
	border: 1px solid #0E1B45;
}

span.insertionSeq {
	font-size: inherit;
	color: #AE5200;
	margin: 1em 0px;
	display: block;
}

div.sequence span {
	font-size: inherit;
}

span.enzymeSeq {
	color: #07288a;
}

span.nnSeq {
	color: #647108;
}

span.spacerSeq {
	color: #076076;
}

/* library */
#allLibraryTabs {
	/*background: #ddd;*/
}

.libraryTab {
	display: inline-block;
	transition-duration: 0.2s;
}

.libraryTab .subtleButton {
	padding: 10px;
}

.libraryContents {
	/*padding: 10px;*/
	border: 1px solid #067373;
	padding: 0px 20px;
}

.activeTab {
	background: #067373;
	color: white;
}

/* hideable titles */

/* alternating color scheme */
.typeContainer.typePr .hideableTitle,
.typeContainer.typeGOI .hideableTitle{
  background: #CFE6E0;
}

.typeContainer.typeRBS .hideableTitle,
.typeContainer.typeTerm .hideableTitle{
  background: #DAE6ED;
}


.typeContainer.typeBB .hideableTitle {
  background: #D0E6C8;
}

/* analogous color scheme */
/*
.typeContainer.typePr .hideableTitle {
  background: #DAE6ED;
}

.typeContainer.typeRBS .hideableTitle {
  background: #DFEDE6;
}

.typeContainer.typeGOI .hideableTitle {
  background: #DFE1ED;

}

.typeContainer.typeTerm .hideableTitle {
  background: #DAEDED;
}

.typeContainer.typeBB .hideableTitle {
  background: #E6E4CC;
}
*/