{% extends "base.html" %}

{% block pageName %}Account{% endblock %}

{% block headContent %}
<script>
	function onSignIn(googleUser) {
		alert("you're logging in");

		var profile = googleUser.getBasicProfile();

		var IDtoken = googleUser.getAuthResponse().id_token;

		var connectData = "{'IDtoken': '" + IDtoken + "', 'fullName': '" + profile.getName() + "', 'email': '" + profile.getEmail() + "'}";

		$.ajax({
			data : {connectData: connectData},
			type : 'POST',
			url : '/googleConnect'
			})
		.done(function(data){
			document.getElementById("connectOutput").innerHTML = data.output;
		});
		event.preventDefault();
	}


	function googleConnect(){
		return false;
	}
</script>

{% endblock %}

{% block accountClass %}active{% endblock %}

{% block content %}
<h1>Account</h1>

<p>Email: {{ email }}</p>

{% if googleAssoc %}
	<p>Account is associated with Google.</p>
{% else %}
	<p> Account is not associated with Google.</p>

	<p>Connect account to Google account:</p>
	<div id = "googleWrapper"><div class = "g-signin2" data-onsuccess = "onSignIn"></div></div>

	<p id = "connectOutput"></p>
{% endif %}


{% endblock %}