{% extends "base.html" %}

{% block pageName %}Account{% endblock %}

{% block headContent %}
<script>
	function googleConnect(){
		return false;
	}
</script>

{% endblock %}

{% block accountClass %}active{% endblock %}

{% block content %}
<h1>Account</h1>

<p>Email: {{ email }}</p>

{% if googleAssoc %}
	<p>Account is associated with Google account.</p>
{% else %}
	<p> Account is not associated with Google account.</p>
	<input type = "button" class = "styledButton" value = "Connect with Google" onclick = "googleConnect()">
{% endif %}


{% endblock %}