<!--cyano thing-->
{% extends "base.html" %}

{% block pageName %}Assemble Sequences{% endblock %}

{% block headContent %}
<link rel = "stylesheet" type = "text/css" href = "/static/styles/assembleStyle.css">

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script>
var seqElements = {{ seqElements|tojson }};

var elemOptions = {{ availableElements|tojson }}; //all the available elements, sorted by type

var fidelityLimits = {{ fidelityLimits|tojson }};

var posTermComb = {{ posTermComb|tojson }};

var backbones = {{ availableBackbones|tojson }};

var backboneDescs = {{ backboneDescs|tojson }};
</script>

<script src = "/static/js/assembleJS.js" ></script>

{% endblock %}

{% block assembleClass %}active{% endblock %}



{% block content %}
<!-- left column: form for the fidelity and backbone and output of it-->
<div id = "leftCol">
	<form id = "form">
		<div>
			<h3>Sequence</h3>

			<!-- fidelity -->
			<div id = "fidelityInput">
				<label for = "fidelity">Spacer Fidelity</label>
				<div class = "shouldGrow"></div>
				<select class = "formField" name = "fidelity" id = "fidelity" onchange = "fidelityChanged()">
					{% for num in fidelities %}
						<option value = "{{ num }}">{{ num }}</option>
					{% endfor %}
				</select>
			</div>

			<!-- backbone -->
			<p class = "noMargin">Backbone</p>

			<div id="backboneInput">	
				<div id = "backboneTypeDiv">
					<span>Type</span>
					<div class = "shouldGrow"></div>
					<div onchange = "backboneTypeChanged(); backboneChanged();">
						<input type = "radio" name = "backboneType" id = "typeIntegrative" value = "i" checked><label for = "typeIntegrative">Integrative</label>
						<input type = "radio" name = "backboneType" id = "typeReplicative" value = "r"><label for = "typeReplicative">Replicative</label>
					</div>
				</div>

				<div>
					<label for="backbone">Name</label>
					<div class="shouldGrow"></div>
					<select class="formField" name="backbone" id="backboneName" onchange = "backboneChanged()"></select>
				</div>

				<div id = "backboneDescriptionDiv">
					<p class = "noMargin">Description: <span id = "backboneDescription"></span></p>
				</div>
			</div>

		</div>
		<!-- section for output of the assembly -->
		<div id = "showOutput" class = "monospaced shouldGrow">
			<p id = "outputParagraph" class = "monospaced">
				Assemble a sequence from components. Sequences that are in the default library or your personal library, but not available for the current position are grayed out.
				<br><br>
				Available components by position:
			</p>
			
			<!-- list components available to the user by the component's position -->
			<ul>
			{% for key in posTermComb %}

				<li>{{ key }}: 
				{% for row in posTermComb[key] %}

					{{ row["position"] }}{{ row["terminalLetter"]}} 

				{% endfor %}
				</li>

			{% endfor %}
			</ul>
		</div>

		<hr style = "width: 100%">

		<!-- download button -->
		<div>
			<input type = "button" class = "styledButton" onclick = "downloadFile()" value = "Download Sequences">
			<span id = "downloadMessage"></span>
		</div>
	</form>
</div>
<!-- end left column -->

<div id = "spacerCol" style = "width: 20px"></div>

<!-- right column: assemble components in order -->
<div id = "rightCol">
	<h3>Components</h3>

	<!-- element 0 -->
	<div id = "elem0"></div>

	<!-- middle elements -->
	<div id = "elements">
	</div>

	<!-- element T -->
	<div id = "elemT"></div>

	<!-- visual spacer -->
	<div class = "shouldGrow"></div>

	<!-- error messages & buttons -->
	<div>
		<span class = "errorMessage" id = "elementError"></span>
		<br>

		<input name = "newElement" type = "button" class = "styledButton" onclick = "addElem()" value = "New Component">
		<input name = "rmElement" type = "button" class = "styledButton" onclick = "rmLastElem()" value = "Remove Last Component">
		<hr>

		<input type = "button" id = "threeSubmit" value = "Submit" class = "styledButton" onclick = "validate()">
	</div>
</div>
<!-- end right column -->
{% endblock %}