<!DOCTYPE html>
<html lang = "en">
<meta charset = "UTF-8">
<head>
<title>CyanoConstruct | {% block pageName %}{% endblock %} </title>

<link rel = "stylesheet" type = "text/css" href = "/static/styles/style.css">

<meta name="google-signin-client_id" content="431868350398-t0st3dhimv5i7rc3laka2lv2864kt4pd.apps.googleusercontent.com">

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
function googleSignOut(){
	var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut();

    window.location.href = "/logout";

    return true;
}

</script>
{% block headContent %}{% endblock %}

</head>
<body onload = "bodyOnload();"><div id = "bodyDiv">


<div id = "navigation">
	<a href = "/index" class = "{% block indexClass %}{% endblock %}">CyanoConstruct</a>
	{% if not current_user.is_anonymous %}
		<a href = "/assemble" class = "{% block assembleClass %}{% endblock %}">Assemble</a>
		<a href = "/library"class = "{% block libraryClass %}{% endblock %}">Library</a>
		<a href = "/design" class = "{% block designClass %}{% endblock %}">Design</a>

		<div class = "shouldGrow"></div>

		<a href = "/account" class = "{% block accountClass %}{% endblock %}" id = "accountNav">Account</a>
		<a href = "javascript:googleSignOut()" id = "logInOut">Log Out</a>
		<div class = "g-signin2" style = "display:none"></div>

	{% else %}
		<div class = "shouldGrow"></div>

		<a href = "/login" id = "logInOut">Log In</a>
	{% endif %}
</div>


{% block content %}{% endblock %}

<div id = "footer">
	<p>Copyright 2020 etc. Footer stuff</p>
</div>

</div></body>
</html>