<!DOCTYPE html>
<html>
<meta charset = "UTF-8">
<head>
<title>CyanoConstruct | {% block pageName %}{% endblock %} </title>

<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/style.css') }}">

{% block headContent %}{% endblock %}

</head>
<body onload = "bodyOnload();"><div id = "bodyDiv">


<div id = "navigation">
	<a href = "/index" class = "{% block indexClass %}{% endblock %}">CyanoConstruct</a>
	<a href = "/assemble" class = "{% block assembleClass %}{% endblock %}">Assemble</a>
	<a href = "/components"class = "{% block componentsClass %}{% endblock %}">Components</a>
	<a href = "/domesticate" class = "{% block domesticateClass %}{% endblock %}">Domesticate</a>
	{% if loggedIn %}
		<a href = "/logout" id = "logInOut">Log Out</a>
		<a href = "/account" class = "{% block accountClass %}{% endblock %}" id = "accountNav">Account</a>
	{% else %}
		<a href = "/login" id = "logInOut">Log In</a>
	{% endif %}
</div>


{% block content %}{% endblock %}

<div id = "footer">
	<p>Copyright 2020 etc. Footer stuff</p>
</div>

</div></body>
</html>