<!--cyano thing-->
{% extends "base.html" %}

{% block pageName %}Components{% endblock %}

{% block headContent %}
	<link rel = "stylesheet" type = "text/css" href = "/static/styles/componentsStyle.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
	<script src = "/static/js/componentJS.js" ></script>
{% endblock %}

{% block componentsClass %}active{% endblock %}

{% block content %}

<br>

<div id = "allLibraryTabs">
	{% for libraryName in allComps.keys() %}<div class = "libraryTab" id = "{{ libraryName }}Tab"><input class = "subtleButton" type = "button" onclick = "showLibrary('{{ libraryName }}')" value = "{{ libraryName }}"></div>{% endfor %}
</div>

{% for libraryName in allComps.keys() %}
<div class = "libraryContents" id = "{{ libraryName }}Library">
	<h2>{{ libraryName }} Library</h2>

	{% for typeKey in allComps[libraryName].keys() %}

		<div class = "hideableTitle typeTitle">
			<input class = "titleLeft subtleButton" type = "button" onclick = "toggleDisplay('{{ libraryName }}{{ typeKey }}'); switchToggleText(this);" value = "{{ longNames[typeKey] }}">
			<span class = "titleRight monospaced">[Click to hide]</span>
		</div>
		<div id = "{{ libraryName }}{{ typeKey }}" class = "hideableDiv" style = "display: block">

				{% for nameKey in allComps[libraryName][typeKey].keys() %}
				
				<div class = "hideableTitle nameTitle">
					<input class = "titleLeft subtleButton" type = "button" onclick = "toggleDisplay('{{ libraryName }}{{ nameKey }}'); switchToggleText(this);" value = "Name: {{ nameKey }}">
					<span class = "titleRight monospaced">[Click to show]</span>
				</div>

				<div id = "{{ libraryName }}{{ nameKey }}" class = "hideableDiv" style = "display: none">

						<!-- info about the named sequence -->
						<p>{{ longNamesSingular[typeKey] }}: {{ nameKey }}</p>

						<p>Sequence:</p>
						<div class = "sequence monospaced">{{ allNS[libraryName][typeKey][nameKey] }}</div>

						<br>

						<!-- list all components -->
						{% for component in allComps[libraryName][typeKey][nameKey] %}

								<div class = "hideableTitle compTitle" id = "{{ libraryName }}{{component.getNameID()}}">
									<input class = "titleLeft subtleButton" type = "button" onclick = "toggleDisplay('{{ libraryName }}{{ component.getNameID() }}Data'); switchToggleText(this);" value = "ID: {{ component.getNameID() }}">
									<span class = "titleRight monospaced">[Click to show]</span>
								</div>

								<div id = "{{ libraryName }}{{ component.getNameID() }}Data" class = "hideableDiv componentData" style = "display: none">

									<p>
										{{ component.getHTMLdisplay() }}
									</p>

									<hr>

									<p><span class = 'emphasized'>Complete Sequence:</span></p>
									<div class = "sequence monospaced">
										{{ component.getFullSeq() }}
									</div>

									<br>

									<input type = "button" class = "styledButton" value = "Download Sequences" onclick = "downloadComponentSequence({{ component.getID() }})"> <!-- that won't work anymore -->

									{% if libraryName|string() != "Default" %}
										<br><hr>

										<input type = "button" class = "styledButton" value = "Remove Component" onclick = "removeComponent('{{ typeKey }}', '{{ nameKey }}', '{{ component.getPosition() }}', '{{ component.getTerminalLetter() }}')"> <!-- that won't work anymore -->
									{% endif %}

								</div>
								<div class = "hideableBottom"></div>

						{% endfor %}

						{% if libraryName|string() != "Default" %}
							<br><hr>

							<input type = "button" class = "styledButton" value = "Remove Sequence" onclick = "removeSequence('{{ typeKey }}', '{{ nameKey }}')">
						{% endif %}

				</div>
				<div class = "hideableBottom"></div>

				{% endfor %}

		</div>
		<div class = "hideableBottom"></div>

	{% endfor %}

<br>
<input type = "button" class = "styledButton" value = "Download All {{ libraryName }} Components" onclick = "downloadLibrary('{{ libraryName }}');">
<br><br>
</div>
{% endfor %}

{% endblock %}