<!--cyano thing-->

{% extends "base.html" %}

{% block pageName %}Design Components{% endblock %}

{% block headContent %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
	<script>
	var namedSequencesNames = {{ namedSequencesNames|tojson }};

	var namedSequencesSeqs = {{ namedSequencesSequences|tojson }};
	</script>
	<script src = "/static/js/designJS.js" ></script>
{% endblock %}

{% block designClass %}active{% endblock %}

{% block content %}
<form id = "whichDesignForm" name = "whichDesignForm">
	<div class = "formSection">
		<legend>1. Select What to Design</legend>

		<input type = "radio" id = "designComponent" name = "whichDesign" value = "component" checked>
		<label for = "designComponent">Component</label>
		<br>
		<input type = "radio" id = "designSequence" name = "whichDesign" value = "sequence">
		<label for = "designSequence">Sequence</label>
		<br>
		<input type = "radio" id = "designBackbone" name = "whichDesign" value = "backbone">
		<label for = "designBackbone">Backbone</label>
		
		<br><br>

		<input type = "button" class = "styledButton" value = "Select" onclick = "selectForm()">
	</div>
</form>

<form id = "componentForm" name = "componentForm" style = "display: none">
	<div class = "formSection"><fieldset id = "selectNS" method = "POST">
		<legend>2. Select Sequence</legend>

		<!--Type of Named Sequence-->
		<label for = "NStype">Type</label>
		<select class = "formField" name = "NStype" id = "NStype" onchange = "formatNSname()">
			<option value = "Pr">Promoter</option>
			<option value = "RBS">Ribosome binding site</option>
			<option value = "GOI">Gene of interest</option>
			<option value = "Term">Terminator</option>
		</select>

		<br>

		<!--Name of Named Sequence -->
		<label for = "NSname">Name</label>
		<select class = "formField" name = "NSname" id = "NSname" onchange = "formatNSsequence()"></select>

		<br>

		<p>Sequence</p>
		<div class = "monospaced sequence" id = "NSseq"></div>

		<!--Output-->
		<p id = "NSoutput"></p>

		<input type = "button" class = "styledButton" name = "NSfinish" id = "NSfinish" value = "Next Step" onclick = "finishNSSection()">

	</fieldset></div>

	<div class = "formSection"><fieldset id = "componentSpacers" method = "POST" disabled>

		<legend>3. Select Position and Spacers</legend>

		<input type = "button" class = "styledButton" name = "spacersBack" id = "spacersBack" value = "Go Back" onclick = "goBackSpacers()">

		<br><br>

		<!--Position-->
		<label for = "componentPos">Position</label>
		<input class = "formField" name = "componentPos" id = "componentPos" type = "number" min = "1" step = "1" size = "5">

		<div id = "specialPositions">
			<p>OR:</p>
			<div id = "pos0">
				<label for = "componentPos0">position 0 (only promoters)</label>
				<input class = "formField" name = "componentPos0" id = "componentPos0" type = "checkbox">
			</div>

			<div id = "posT">
				<label for = "componentPosT">position T (only terminators)</label>
				<input class = "formField" name = "componentPosT" id = "componentPosT" type = "checkbox">
			</div>
		</div>

		<span class = "errorMessage" id = "posError"></span>

		<br>

		<!--Terminal element-->
		<label for = "componentTerminal">Last element?</label>
		<input class = "checkField" name = "componentTerminal" id = "componentTerminal" type = "checkbox">

		<br>

		<!--Output-->
		<p id = "spacersOutput"></p>

		<br>

		<input type = "button" class = "styledButton" name = "spacsersSubmit" id = "spacsersSubmit" value = "Find Spacers" onclick = "findSpacers()">

		<br>

		<input type = "button" class = "styledButton" name = "spacersFinish" id = "spacersFinish" value = "Next Step" onclick = "finishSpacersSection()" disabled>

	</fieldset></div>

	<div class = "formSection"><fieldset id = "componentPrimers" method = "POST" disabled>

		<legend>4. Make Primers</legend>

		<input type = "button" class = "styledButton" name = "primersBack" id = "primersBack" value = "Go Back" onclick = "goBackPrimers()">

		<br><br>

		<p class ="bold">Find primers:</p>

		<!--Melting point middle-->
		<label for = "componentTM">Melting Point</label> <!-- what values are valid -->
		<input class = "formField" name = "componentTM" id = "componentTM" type = "number" min = "20" max = "80" step = "any" size = "5" value = "55"> 
		<span class = "errorMessage" id = "TMError"></span>

		<!--Melting point range-->
		<label for = "TMRange">±</label>
		<input class = "formField" name = "TMRange" id = "TMRange" type = "number" min = "1" max = "10" step = "1" size = "5" value = "2">°C
		<span class = "errorMessage" id = "TMRangeError"></span>

		<p class = "bold">Or skip primers:</p>

		<label for = "skipPrimers">Check to skip</label>
		<input class = "formField" name = "skipPrimers" id = "skipPrimers" type = "checkbox">

		<br><br>

		<!--Output-->
		<p id = "primersOutput"></p>

		<input type = "button" class = "styledButton" name = "primersSubmit" id = "primersSubmit" value = "Confirm" onclick = "findPrimers()">

		<br>

		<input type = "button" class = "styledButton" name = "primersFinish" id = "primersFinish" value = "Next Step" onclick = "finishPrimersSection()" disabled>

	</fieldset></div>

	<div class = "formSection"><fieldset id = "createNewComponent" method = "POST" disabled>
		<legend>5. Finish</legend>

		<input type = "button" class = "styledButton" name = "finishBack" id = "finishBack" value = "Go Back" onclick = "goBackFinish()">

		<br><br>

		<p>Please review the previous steps before confirming etc.</p>

		<p id = "createOutput"></p>

		<input type = "button" class = "styledButton" name = "createSubmit" id = "createSubmit" value = "Create Component" onclick = "createComponent()">

		<br>

		<input type = "button" class = "styledButton" name = "downloadSeqs" id = "downloadSeqs" value = "Download Sequences" onclick = "downloadZIPFile()" disabled>

		<p id = "downloadMessage"></p>

		<br>

		<input type = "button" class = "styledButton" name = "resetForm" id = "resetForm" value = "Create Another" onclick = "startOver();" disabled>

	</fieldset></div>
</form>

<form id = "sequenceForm" name = "sequenceForm" style = "display: none">
	<div class = "formSection"><fieldset id = "createSequence" method = "POST">
		<legend>2. Create New Sequence</legend>

		<label for = "seqType">Type</label>
		<select class = "formField" name = "seqType" id = "seqType">
			<option value = "Pr">Promoter</option>
			<option value = "RBS">Ribosome binding site</option>
			<option value = "GOI">Gene of interest</option>
			<option value = "Term">Terminator</option>
		</select>

		<br>

		<label for = "seqName">Name</label>
		<input clsas = "formField" type = "text" id = "seqName" name = "seqName">
		<span class = "errorMessage" id = "seqNameError"></span>

		<br>

		<label for = "sequenceSeq">Sequence</label>
		<br>
		<textarea class = "formField" name = "sequenceSeq" id = "sequenceSeq"></textarea>
		<br>
		<span class = "errorMessage" id = "sequenceSeqError"></span>

		<br>

		<input type = "button" class = "styledButton" name = "submitSequence" id = "submitSequence" value = "Submit" onclick = "newNS()">

		<p id = "sequenceOutput"></p>

		<!-- make output include a link to the sequence on the Library page -->
		<!-- include button to Make Components with new sequence -->

		<input type = "button" class = "styledButton" name = "resetSeqForm" id = "resetSeqForm" value = "Create Another" onclick = "resetSeq();" disabled>

	</fieldset></div>

</form>

<form id = "backboneForm" name = "backboneForm" style = "display: none">
	<div class = "formSection"><fieldset id = "createBackbone" method = "POST">
		<legend>2. Create New Backbone</legend>

		<label for = "backboneName">Name</label>
		<input type = "text" id = "backboneName" name = "backboneName">
		<span class = "errorMessage" id = "backboneNameError"></span>

		<br>

		<label for = "backboneSeq">Sequence</label>
		<br>
		<textarea class = "formField" name = "backboneSeq" id = "backboneSeq"></textarea>
		<br>
		<span class = "errorMessage" id = "backboneSeqError"></span>


		<br>

		<input type = "button" class = "styledButton" name = "submitBackbone" id = "submitBackbone" value = "Submit" onclick = "newBackbone()">

		<p id = "backboneOutput"></p>

		<input type = "button" class = "styledButton" name = "resetBackboneForm" id = "resetBackboneForm" value = "Create Another" onclick = "resetBackbone();" disabled>

	</fieldset></div>

</form>


{% endblock %}