<!--cyano thing-->

<!--cyano thing-->

{% extends "base.html" %}

{% block pageName %}Index{% endblock %}

{% block indexClass %}active{% endblock %}

{% block headContent %}
<script>
	function bodyOnload(){
		return false;
	}
</script>

<style>
.longOuter {
	overflow: auto;
	border: 2px inset black;
	padding: 5px 0px;
}

.longDiagram {
	position: relative;
	white-space: nowrap;
	display: inline-block;
	min-width: 100%;
}

.strand {
	position: relative;
}

.strand div {
	display: inline-block;
	font-family: "Courier New", Courier, monospace;
	padding: 2px;
}

.component div {
	border: 1px solid black;
}

.strand.centered {
	display:flex;
}

.strand.centered .component {
	align-self: center;
}

.scrollbarSpacer {
	visibility: hidden;
	height: 16px;
}

span.figCaption {
	font-weight: bold;
}

.backLine {
	position: absolute;
	top: 13px;
	left: 0;
	z-index: -100;
	height: 2px;
	width: 100%;
	background: black;
}

div.component {
	padding: 5px 0px;
	border: 0px solid transparent;
	margin: 0px;
}

div.component:nth-child(2){
	margin-left: 5px;
}

div.component:last-child{
	margin-right: 5px;
}

.component:nth-child(even), .strand.offset .component:nth-child(odd){
	background: rgba(0,0,0,0.25);
}

.component:nth-child(odd), .strand.offset .component:nth-child(even){
	background: rgba(150,150,150,0.25);
}

div.component div{
	margin: 0px 5px;
}

div.spacer:last-child{
	margin: 0px 9px;
}

div.spacer:nth-child(1){
	margin: 0px 9px;
}

#offsetSpacer {
	padding: 2px 0px;
}

.hidden {
	visibility: hidden;
}

#diagramLegend {
	border: 2px solid black;
	overflow: auto;
}

#diagramLegend div {
	display: inline-block;
	font-family: "Courier New", Courier, monospace;
	border: 1px solid black;
	margin: 5px 5px;
	padding: 2px;
}
</style>

<style>
/* square color palette */
.spacer {
	background: #E6855F;
}

.NN {
	background: #62E6D0;
}

.enzymeRecog {
	background: #CFEC67;
}

.seq {
	background: #AB81E1;
}
</style>

<style>
/* analogous colors */
.spacer {
	background: #7396F0;
	background: #6692CC;
}

.NN {
	background: #A5C3E8;
}

.enzymeRecog {
	background: #3ABDBD;
}

.seq {
	background: #73E686;
}
</style>

{% endblock %}

{% block content %}
<h1>Homepage</h1>

<p>{{ logInMessage }}</p>


<p>The following figures should be moved to a specialized page that explains CyanoConstruct: what it is, how to use it, etc.</p>

<figure>
<figcaption><span class = "figCaption">Figure 1. Layout of a component pre-digestion.</span> The left side of the component's central sequence is composed of, from 5' to 3': the BbsI recognition site, two random nucleotides, and the left spacer. The right of the sequence is composed of: the right spacer, two random nucleotides, and the inverse recognition site for BbsI.</figcaption>

<div class = "longOuter">
	<div class = "longDiagram">
		<div class = "strand centered offset">
			<div class = "backLine" style = "border: 0px; margin: 0px; padding: 0px"></div>

			<div class = "shouldGrow"></div>

			<div class = "component">
				<div class = "enzymeRecog">GAAGAC</div><div class = "NN">NN</div><div class = "spacer">TAGA</div><div class = "seq">Element A Forward Sequence</div><div class = "spacer">GATA</div><div class = "NN">NN</div><div class = "enzymeRecog">GTCTTC</div>
			</div>

			<div class = "shouldGrow"></div>

		</div>

		<div class = "strand centered offset">
			<div class = "backLine" style = "border: 0px; margin: 0px; padding: 0px"></div>

			<div class = "shouldGrow"></div>

			<div class = "component">
				<div class = "enzymeRecog">CTTCTG</div><div class = "NN">NN</div><div class = "spacer">ATCT</div><div class = "seq">Element A Reverse Sequence</div><div class = "spacer">CTAT</div><div class = "NN">NN</div><div class = "enzymeRecog">CAGAAG</div>
			</div>

			<div class = "shouldGrow"></div>

		</div>

		<div class = "scrollbarSpacer"></div>

	</div>
</div>
</figure>

<figure>
	<figcaption><span class = "figCaption">Figure 2. Layout of a component post-digestion.</span> BbsI digestion removes the random nucleotides and enzyme recognition sites from both sides. Two sticky ends are left. The left overhang is the left spacer, on the foward strand, while the right overhang is the complementary sequence to the right spacer, on the reverse strand.</figcaption>
<div class = "longOuter">
	<div class = "longDiagram">
		<div class = "strand centered offset">
			<div class = "backLine" style = "border: 0px; margin: 0px; padding: 0px"></div>

			<div class = "shouldGrow"></div>

			<div class = "component">
				<div class = "spacer">TAGA</div><div class = "seq">Element A Forward Sequence</div>
			</div>

			<div class = "component hidden">
				<div class = "spacer">GATA</div>
			</div>


			<div class = "shouldGrow"></div>

		</div>

		<div class = "strand centered">
			<div class = "backLine" style = "border: 0px; margin: 0px; padding: 0px"></div>

			<div class = "shouldGrow"></div>

			<div class = "component hidden">
				<div class = "spacer">ATCT</div>
			</div>

			<div class = "component">
				<div class = "seq">Element A Reverse Sequence</div><div class = "spacer">CTAT</div>
			</div>

			<div class = "shouldGrow"></div>

		</div>

		<div class = "scrollbarSpacer"></div>

	</div>
</div>

</figure>


<figure>
<figcaption><span class = "figCaption">Figure 3. Layout of assembled sequence.</span> The spacer overhangs ensure the components join in the correct order.</figcaption>

<div class = "longOuter">
	<div class = "longDiagram">
		<div class = "strand">
			<div class = "backLine" style = "border: 0px; margin: 0px; padding: 0px"></div>
			<div class = "component">
				<div class = "spacer">TAGA</div><div class = "seq">Element A Forward Sequence</div>
			</div><!--

		 --><div class = "component">
				<div class = "spacer">GATA</div><div class = "seq">Element B Forward Sequence</div>
			</div><!--

		 --><div class = "component">
				<div class = "spacer">ATTA</div><div class = "seq">Element C Forward Sequence</div>
			</div><!--

		 --><div class = "component">
				<div class = "spacer">CTAA</div><div class = "seq">Element D Forward Sequence</div>
			</div>

		</div>


		<div class = "strand offset">
			<div class = "backLine" style = "border: 0px; margin: 0px; padding: 0px"></div>
			<div class = "component hidden" id = "offsetSpacer">
				<div class = "spacer hidden">ATCT</div>
			</div><!--

		 --><div class = "component">
				<div class = "seq">Element A Reverse Sequence</div><div class = "spacer">CTAT</div>
			</div><!--

		 --><div class = "component">
				<div class = "seq">Element B Reverse Sequence</div><div class = "spacer">TAAT</div>
			</div><!--

		 --><div class = "component">
				<div class = "seq">Element C Reverse Sequence</div><div class = "spacer">GATT</div>
			</div><!--

		 --><div class = "component">
				<div class = "seq">Element D Reverse Sequence</div><div class = "spacer">CTAT</div>
			</div>


		</div>

		<div class = "scrollbarSpacer"></div>

	</div>
</div>
</figure>

<figure>
	<figcaption><span class = "figCaption">Legend</span></figcaption>
<div id = "diagramLegend">
	<div class = "spacer">Spacer</div>
	<div class = "NN">Randomly decided nucleotides</div>
	<div class = "enzymeRecog">Enzyme recognition site</div>
	<div class = "seq">Component sequence</div>
</div>
</figure>

{% endblock %}