<!--cyano thing-->

<!--cyano thing-->

{% extends "base.html" %}

{% block pageName %}Index{% endblock %}

{% block indexClass %}active{% endblock %}

{% block headContent %}
<script>
	function bodyOnload(){
		return false;
	}
</script>

<style>
#longOuter {
	overflow: auto;
	height: 60px;
	border: 2px inset black;
	padding: 5px 0px;
}

#longDiagram {
	position: relative;
	white-space: nowrap;
	display: inline-block;
}

#longDiagram div {
	display: inline-block;
	font-family: "Courier New", Courier, monospace;
	border: 1px solid black;
	margin: 0px 5px;
	padding: 2px;
}

#backLine {
	position: absolute;
	top: 14px;
	left: 0;
	z-index: -100;
	height: 2px;
	width: 100%;
	background: black;
}

.component {
	background: rgba(0,0,0,0.2);
}

.enzymeRecog {
	background: cornflowerblue;
}

.NN {
	background: bisque;
}

.spacer {
	background: violet;
}

.sequence {
	background: lightgreen;
}

#diagramLegend {
	border: 2px solid black;
	overflow: auto;
}

#diagramLegend div {
	display: inline-block;
	font-family: "Courier New", Courier, monospace;
	border: 1px solid black;
	margin: 5px 5px;
	padding: 2px;
}

</style>
{% endblock %}

{% block content %}
<h1>Homepage</h1>

<p>{{ logInMessage }}</p>

<hr>

<p>Theoretical layout of components & their respective parts: (using spacers TAGA, GATA, ATTA, and CTAA)</p>

<div id = "longOuter">
	<div id = "longDiagram">
		<div id = "backLine" style = "border: 0px; margin: 0px; padding: 0px"></div>
		<div class = "component"><div class = "spacer">TAGA</div><div class = "NN">NN</div><div class = "enzymeRecog">GAAGAC</div><div class = "sequence">ELEMENT A SEQUENCE</div><div class = "enzymeRecog">GTCTTC</div><div class = "NN">NN</div><div class = "spacer">GATA</div></div>
		<div class = "component"><div class = "spacer">GATA</div><div class = "NN">NN</div><div class = "enzymeRecog">GAAGAC</div><div class = "sequence">ELEMENT B SEQUENCE</div><div class = "enzymeRecog">GTCTTC</div><div class = "NN">NN</div><div class = "spacer">ATTA</div></div>
		<div class = "component"><div class = "spacer">ATTA</div><div class = "NN">NN</div><div class = "enzymeRecog">GAAGAC</div><div class = "sequence">ELEMENT C SEQUENCE</div><div class = "enzymeRecog">GTCTTC</div><div class = "NN">NN</div><div class = "spacer">CTAA</div></div>
	</div>
</div>

<p>Legend</p>

<div id = "diagramLegend">
	<div class = "spacer">Spacer</div>
	<div class = "NN">Randomly decided nucleotides</div>
	<div class = "enzymeRecog">Enzyme recognition site</div>
	<div class = "sequence">Component sequence</div>
</div>

{% endblock %}