<!--cyano thing-->

<!--cyano thing-->

{% extends "base.html" %}

{% block pageName %}Index{% endblock %}

{% block indexClass %}active{% endblock %}

{% block headContent %}
<script>
	function bodyOnload(){
		return false;
	}
</script>
{% endblock %}

{% block content %}
<h1>Homepage</h1>

<p>{{ logInMessage }}</p>

<br><hr><br>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus quam dictum, finibus augue vel, faucibus enim. Aliquam nibh mauris, bibendum at condimentum a, rutrum in metus. Sed at euismod neque. Aliquam dapibus ex faucibus tincidunt mattis. Fusce lobortis tellus eu nunc consequat, id aliquam tortor ornare. Aliquam non auctor tellus. Aliquam felis dui, maximus vitae hendrerit a, porttitor et ante. Ut ut orci at ipsum eleifend auctor. Nullam at scelerisque lacus. Donec imperdiet est eu odio malesuada elementum hendrerit nec tortor.
<br><br>
Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam vel massa eu nunc mattis convallis in id felis. Ut commodo eget leo non pulvinar. Morbi semper sem in laoreet finibus. In ac cursus risus, pulvinar suscipit mi. Phasellus convallis sit amet dui ut cursus. Suspendisse at felis velit. Donec eleifend ipsum eu turpis feugiat convallis. In hac habitasse platea dictumst. Aliquam ornare accumsan condimentum. Vestibulum pulvinar, libero luctus condimentum sollicitudin, erat libero imperdiet metus, a iaculis diam leo eget elit. Quisque pulvinar vestibulum vehicula. Curabitur ipsum leo, ultrices vel arcu ac, aliquet lacinia ipsum. Proin vestibulum iaculis felis at pulvinar. Aliquam in vulputate ex, ut elementum enim. Integer nec lectus sapien. 
</p>
{% endblock %}