<!--cyano thing-->
{% extends "base.html" %}

{% block pageName %}Library{% endblock %}

{% block headContent %}
	<link rel = "stylesheet" type = "text/css" href = "/static/styles/componentsStyle.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
	<script src = "/static/js/componentJS.js" ></script>
{% endblock %}

{% block libraryClass %}active{% endblock %}

{% block content %}

<br>

<div id = "allLibraryTabs">
	{% for libraryName in allNS.keys() %}<div class = "libraryTab" id = "{{ libraryName }}Tab"><input class = "subtleButton" type = "button" onclick = "showLibrary('{{ libraryName }}')" value = "{{ libraryName }}"></div>{% endfor %}
</div>

{% for libraryName in allNS.keys() %}
<div class = "libraryContents" id = "{{ libraryName }}Library">
	<h2>{{ libraryName }} Library</h2>

	{% for typeKey in allNS[libraryName].keys() %}

		<div class = "hideableTitle typeTitle">
			<input class = "titleLeft subtleButton" type = "button" onclick = "toggleDisplay('{{ libraryName }}{{ typeKey }}'); switchToggleText(this);" value = "{{ longNames[typeKey] }}">
			<span class = "titleRight monospaced">[Click to hide]</span>
		</div>
		<div id = "{{ libraryName }}{{ typeKey }}" class = "hideableDiv" style = "display: block">

				{% for ns in allNS[libraryName][typeKey] %}
					{{ns.getHTMLdisplay()}}
				{% endfor %}

		</div>
		<div class = "hideableBottom"></div>

	{% endfor %}

<br>
<input type = "button" class = "styledButton" value = "Download All {{ libraryName }} Components" onclick = "downloadLibrary('{{ libraryName }}');">
<br><br>
</div>
{% endfor %}

{% endblock %}