{% extends "base.html" %}

{% block pageName %}Log In{% endblock %}

{% block headContent %}
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/style.css') }}">
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

<script>
var returnURL = {{ returnURL|tojson }};
</script>

<script src = "{{ url_for('static',filename='js/loginJS.js') }}" ></script>
{% endblock %}


{% block content %}
<h1>Existing Users</h1>
<ul>
	{% for email in allEmails %}
		<li>{{ email }}</li>
	{% endfor %}
</ul>

<h1>Log In</h1>
<form id = "loginForm" onsubmit = "login()">
	<label for = "emailLogin">Email</label>
	<input name = "emailLogin" id = "emailLogin" type = "text">

	<input name = "submitLogin" id = "submitLogin" type = "submit" value = "Log In">
</form>

<h1>Register</h1>
<form id = "registrationForm" onsubmit="register()">
	<label for = "emailRegister">Email</label>
	<input name = "emailRegister" id = "emailRegister" type = "text">

	<input name = "submitRegister" id = "submitRegister" type = "submit" value = "Register">

<p id = "loginOutput">
</p>
<span id = "returnURL"></span>
{% endblock %}