
{% extends "base.html" %}

{% block pageName %}Privacy Policy{% endblock %}

{% block content %}
<h1>Privacy Policy</h1>
<p>Last updated June 19, 2020.</p>
<p>(it's not good, but it exists.)</p>

<h2>Collection of Data</h2>
<p>When you register or sign in to your account on CyanoConstruct.com, we collect the following personal information: your email address, your name (from your Google account), and your Google User ID. This information is used to identify and validate users when they sign in. This information will not be collected if you do not register or sign-in to the CyanoConstruct website.</p>
<p>We do not share our collected data with third parties, except as required by law.</p>

<h2>Cookies</h2>
<p>CyanoConstruct uses cookies, which are small pieces of data stored on your browser, for the necessary functioning of the site. We use both session cookies and persistent cookies. These cookies are necessary for recognising signed-in users and for the proper functioning of some pages of the site.</p>
<p>Information gathered by cookies are not shared with third parties, except as required by law.</p>
<p>If you disable cookies, parts of CyanoConstruct.com are not guaranteed to work.</p>
{% endblock %}