<!--cyano thing-->

<!DOCTYPE html>
<html>
<head>
<title>Cyano'Construct | Domesticate Components</title>

<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

<script>
var submitted = false;

function validateDomesticate(){
	var name = document.getElementById("componentName").value;
	var seq = document.getElementById("componentSeq").value;
	var tm = document.getElementById("componentTM").value;
	var pos = document.getElementById("componentPos").value;

	var validInputs = true;

	if(name == ""){
		$("#nameError").text("Need a name.");
		validInputs = false;
	}
	else{
		$("#nameError").text("");
	}

	if(seq == ""){
		$("#seqError").text("Need a sequence.");
		validInputs = false;
	}
	else{
		$("#seqError").text("");
	}

	if(pos == ""){
		$("#posError").text("Need a position.");
		validInputs = false;
	}
	else{
		$("#posError").text("");
	}

	if(tm == ""){
		$("#TMError").text("Need a melting point.")
		validInputs = false;
	}
	else{
		$("#TMError").text("");
	}

	if(validInputs){
		submitForm();
	}

	return false;
}

function submitForm(){ //already written and Not At All changed, maybe just use that?
	var allFields = document.getElementsByClassName("formField");

	//get data for all formFields
	var allData = "{";
	for (i = 0; i < allFields.length; i++){
		var name = allFields[i].name; //key: name
		allData += "'" + name + "': ";
		var value = allFields[i].value; //value: value
		allData += "'" + value + "'";

		allData += ", ";
	}


	allData += "'componentTerminal': '";
	allData += document.getElementById("componentTerminal").checked;

	allData += "'}";

	$.ajax({
		data : {bigData: allData},
		type : 'POST',
		url : '/makeComponent'
		})
	.done(function(data){
		var newNode = document.createElement("p");
		newNode.innerHTML = data.output;

		var showOutput = document.getElementById("showOutput");
		var oldChild = document.getElementById("outputParagraph");

		newNode.id = "outputParagraph";

		showOutput.replaceChild(newNode, oldChild);
	});
	event.preventDefault();


	return 0;
}

function createComponent(){
	$.ajax({
		data : {},
		type : 'POST',
		url : '/confirmCreation'
		})
	.done(function(data){
		$("#createdOutput").text(data.output);

	});
	event.preventDefault();

	submitted = true;

}

function downloadFile(){
	if(submitted){
		$("#downloadMessage").text("Preparing files...");
		window.location.href = "/componentSequences.zip";
		event.preventDefault();
		$("#downloadMessage").text("Downloaded.");
	}
	else{
		$("#downloadMessage").text("No sequence submitted.");
	}
}


</script>

</head>
<body>

<a href = "/domesticate">Domesticate</a> <a href = "/assemble">Assemble</a> <a href = "/components">Components</a>

<form id = "domesticate" method = "POST" onsubmit = "validateDomesticate(); return false;"> <!-- oh wait I DO want validation -->
	<label for = "componentName">Name</label>
	<input class = "formField" name = "componentName" id = "componentName" type = "text">
	<span class = "errorMessage" id = "nameError"></span>

	<br><br>

	<label for = "componentType">Type</label>
	<select class = "formField" name = "componentType" id = "componentType">
		<option value = "Pr">Promoter</option>
		<option value = "RBS">Ribosome binding site</option>
		<option value = "GOI">Gene of Interest</option>
		<option value = "Term">Terminator</option>
	</select>

	<br><br>

	<label for = "componentSeq">Sequence—only A, T, G, C, or are other letters valid?</label>
	<br>

	<textarea class = "formField" name = "componentSeq" id = "componentSeq"></textarea>
	<br>
	<span class = "errorMessage" id = "seqError"></span>

	<br><br>

	<label for = "componentTM">Melting Point</label> <!-- what values are valid -->
	<input class = "formField" name = "componentTM" id = "componentTM" type = "number" step = "any"> <!-- is it min = 1 or 0? -->
	<span class = "errorMessage" id = "TMError"></span>

	<br><br>

	<label for = "componentPos">Position</label>
	<input class = "formField" name = "componentPos" id = "componentPos" type = "number" min = "1" max = "20" step = "1"> <!-- is it min = 1 or 0? Also max = ?-->
	<span class = "errorMessage" id = "posError"></span>

	<br><br>

	<label for = "componentTerminal">Terminal?</label> <!-- is that what I want to name it? -->
	<input class = "checkField" name = "componentTerminal" id = "componentTerminal" type = "checkbox">

	<br><br>

	<button type = "submit" id = "domesticateSubmit">Create</button>

</form>

<div id = "showOutput"><p id = "outputParagraph">No output</p></div>
<button type = "submit" id = "createSubmit" onclick="createComponent()">Confirm Creation</button>
<p id = "createdOutput"></p>

<button type = "submit" id = "downloadSeqs" onclick="downloadFile()">Download Sequences</button>
<p id = "downloadMessage"></p>

</body>
</html>