#bodyDiv {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) and (min-height: 450px){
	#leftCol, #rightCol {
		height: 100%;
	}

	#leftCol {
		width: 50%;
	}

	#rightCol {
		flex-grow: 1;
	}

	#rightCol {
		display: flex;
		flex-direction: column;
	}

	#show-output {
		flex-grow: 1;
	}

	#form {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	#mainContent {
		overflow: auto;
		display: flex;
		height: 100%;
	}
}


@media (max-width: 600px) or (max-height: 450px){
	#leftCol, #rightCol { /* looks kind of silly but I don't know what else to do */
		max-width: 600px;
		margin: auto;
	}
}

#showOutput {
	padding: 5px;
	background: #F0F6FB;
	border: 1px solid #333;

	overflow: auto;
}

#showOutput > p {
	margin: 0px;
}

#fidelityInput, #backboneInput div {
	display:flex;
	flex-direction: row;
	max-width: 600px;
	margin: 8px 0px;
}

#backboneInput div div {
	margin: 0px;
}


#backboneInput {
	padding-left: 5px;
	margin-left: 13px;
	border-left: 2px solid #ddd;
}

div.elemDiv {
	border: 1px solid #333;
	background: #F0F6FB;
	padding: 5px;
	margin: 5px;
	text-align: center;
	max-width: 580px;
}

#elements .elemDiv {
	background: #BEE3FF;
}

div.elemDiv > span{
	margin: 5px;
	font-weight: bold;
}

div.elemDiv > label{
	margin: 5px;
	font-style: bold;
}

div.elemDiv > div{
	display: inline-block;
	margin: 5px;
}


#elements {
	border: 1px dashed black;
	overflow: auto;

	min-height: 20px;
	max-width: 600px;
}

#backboneInput input[type=radio]{
	margin-left: 20px;
}

#backboneDescriptionDiv p {
	margin: 0px;
}

#backboneDescriptionDiv {
	min-height: 3em;
}