/* general */
body{
	margin: 0px;
	word-wrap: break-word;
}

#bodyDiv {
	margin: 0px;
	padding: 0px 10vw;
	/*overflow: auto;*/
	height: 100vh;

	font-family: Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, #navigation {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

p, span, label {
	font-size: small;
}

hr {
	border: 1px solid black;
	height: 0px;
}

a:link {
	text-decoration: none;
	color: #3C74BD;
}

a:visited {
	text-decoration: none;
	color: #185900;
}

a:hover {
	font-style: italic;
	text-decoration: underline;
}

a:active {
	font-style: italic;
	text-decoration: underline;
}

@media (max-width: 600px){
	#bodyDiv{
		padding: 10px 5vw;
	}
}

@media (min-width: 600px) and (min-height: 550px){
	#inputCol {
		width: 40%;
		float: left;
	}

	#outputCol {
		width: 60%;
		float: right;
	}

	#input {
		max-height: 80vh;
	}

	#output {
		max-height: 80vh;

		display: flex;
		flex-direction: column;
	}

	#show-output {
		flex-grow: 1;
	}
}

@media (max-width: 600px) or (max-height: 550px){
	#input, #output { /* looks kind of silly but I don't know what else to do */
		max-width: 610px;
		margin: auto;
	}
}

#input, #output {
	padding: 10px;
}

#footer {
	clear: both;
	border-top: 2px solid black;
	padding: 5px 0px;
	margin: 5px 0px;
}

.errorMessage {
	color: red;
}
/* output */

#showOutput {
	padding: 5px;
	background: #F0F6FB;
	border: 1px solid #333;

	overflow: auto;
}

#showOutput > p {
	margin: 0px;
}

.monospaced {
	font-family: "Courier New", Courier, monospace;
	word-wrap: break-word;

	font-size: medium;
}

.sequence {
	border: 1px solid #0E1B45;
	background: #E7EFF4; /*lighter than the div bg colors */
	padding: 5px;

	word-break: break-all;

	max-height: 200px;
	overflow: auto;
}

/* input */

textarea {
	height: 100px;
	min-height: 30px;
	width: 100%;
	max-width: 600px;
	min-width: 200px;
	/*transition-duration: 0.3s; because it looks funky*/
}

select {
	background-color: #fff;
	border: 1px solid #0C2443;
	padding: 3px 5px;
}

input[type=text] {
	border: 1px solid #bbb;
	padding: 3px 5px;
	width: 100px;
	transition-duration: 0.3s;
}

input[type=number] {
	border: 1px solid #bbb;
	padding: 3px 5px;
	transition-duration: 0.3s;
}

input[type=text]:focus, textarea:focus, input[type=number]:focus {
	border: 1px solid #000;
	outline: solid thin #888;
	background-color: #D5E0ED;
}

/*
input[type=button]:active, input[type=button]:focus, input[type=submit]:active, input[type=submit]:focus {
	outline: 3px solid #439326;
	outline-offset: -3px;
}*/

.styledButton {
	background-color: white;
	color: black;
	border: 1px solid #001F18;
	border-radius: 3px;
	margin: 2px 15px 2px 0px;
	transition-duration: 0.3s;
	padding: 5px 10px;
}

.styledButton:hover, .styledButton:focus, .styledButton:active {
	background-color: #064235;
	color: white;
	outline: none;
}

.styledButton:disabled {
	border: 1px solid #999;
	background-color: #eee;
	color: #999;
}

#fidelityInput, #backboneInput {
	display:flex;
	flex-direction: row;
	max-width: 600px;
}

.shouldGrow {
	flex-grow: 1;
}

div.elemDiv {
	border: 1px solid #333;
	background: #F0F6FB;
	padding: 5px;
	margin: 5px;
	text-align: center;
	max-width: 580px;
}

#elements .elemDiv {
	background: #BEE3FF;
}

div.elemDiv > span{
	margin: 5px;
	font-weight: bold;
}

div.elemDiv > label{
	margin: 5px;
	font-style: bold;
}

div.elemDiv > div{
	display: inline-block;
	margin: 5px;
}

@media (min-width: 600px) and (min-height: 550px){
	#form {
		display: flex;
		flex-direction: column;
		max-height: 80vh;
	}

	#elements {
		flex-grow: 1;
	}
}

#elements {
	border: 1px dashed black;
	overflow: auto;

	min-height: 20px;
	max-width: 600px;
}

/* navigation */
#navigation {
	overflow: hidden;
	/*border-bottom: 2px solid black;*/
	display: flex;
}

#navigation a {
	/*float: left;*/
	text-align: center;
	color: #000;
  	text-decoration: none;
	padding: 10px;
	outline: none;
	border-bottom: 2px solid black;
}

#navigation a:hover, #navigation a:focus {
	font-style: normal;
	background: #eee;
	border-bottom: 2px solid #68BF48;
}

#navigation div.shouldGrow {
	border-bottom: 2px solid black;
}

#navigation a:active {
	font-weight: normal;
	border-bottom: 2px solid #439326;
}

#navigation a.active {
	font-weight: bold;
	border-bottom: 2px solid #439326;
}

#navigation a#logInOut, #navigation a#accountNav {
	/*float: right;*/
}

/* form stuff */

.formSection {
	padding: 5px;
	margin: 10px 0px;
	border-radius: 10px;
	border: 1px solid black;
}

.formSection input[type = number], .formSection input[type = text], .formSection select {
	margin: 5px;
}

fieldset {
	border: 0px;
	padding: 0px;
}

fieldset:disabled {
	color: #777;
}

fieldset:disabled legend{
	border-bottom-color: #5F7856;
	color: #5F7856;
}

legend {
	border-bottom: 2px solid #1F6605;
	color: #1F6605;
	width: 100%;
	font-size: larger;
	margin: 5px 0px 10px 0px;
	padding: 5px 0px;
}